body {
    background-color: #121212;
}

.billboard {
    position: relative;
    width: 100%;
}

.billboard-info {
    position: absolute;
    color: white;
        bottom: 0;
    width: 100%;
    height: auto;
        z-index: 1;
}


#hero-text {
    margin-left: 2em;
    margin-bottom: 2em;
}

#gradient {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
        background-image: linear-gradient(transparent, #121212 100%);
}

#playbutton {
    color: white;
    background-color: #4285F4;
    margin-left: 2em;
    margin-bottom: 20%;
}

.main-content {
    height: auto;
}

.slider-card {
    float: left;
    position: relative;
        top: 0;
        transition: width .2s ease, height .2s ease, top .2s ease;
}

#slider-image {
    border-radius: 5px;
}

.slider {
    color: white;
    margin-left: 2em;
    overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    
    .previous {
        width: 40px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: auto;
        left: 0px;
    }
    
    .next {
        width: 40px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: auto;
        z-index: 1000;
        right: 0px;
    }
    
    .slider-container {
        transition: margin-left .2s ease, left .5s ease;
        position: absolute;
        left: 0;
}

.slider::after {
    content: "";
    clear: both;
    display: table;
}