body {
    background-color: #121212;
}

div.hero-static {
    width: 100%;
    top: 0px;
}

div.billboard {
    width: 100%;
}

div.billboard-info {
    color: white;
    position: absolute;
    top: 20em;
    width: 100%;
}


div.hero-text {
    margin-left: 2em;
}

#gradient {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(0deg, #121212, #121212 35%, transparent 100%)
}

#playbutton {
    color: white;
    background-color: #4285F4;
    margin-left: 2em;
}

div.slider-card {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
}

div.slider {
    color: white;
    margin-left: 2em;
}

.slider::after {
    content: "";
    clear: both;
    display: table;
}